<h1>Artists Name</h1>
<h1>Click a Artist To View Soungs</h1>
<%= link_to 'Create a new Artist', new_artist_path %>
<ul>
  <% @artists.each do |artist| %>
  <p><%= artist.name%></p>
    <li><%= link_to 'Show', artist %></li>
  <% end %>
</ul>