<h1>Billboards#new</h1>
<h1>Add A song To billboard: <%= @billboard.name %> </h1>

	<% @songs.each do |song| %>
	  <li>
	    <%= link_to song.name, add_billboard_song_path(@billboard, song), method: :post %>
	  </li>
	  <hr />
	<% end %>


<%= link_to 'Back', billboards_path%>